@model TheGame2_Library.Models.GameStatsModel

<div>
	<h3>Time spent in the game</h3>
<table class="table">
	<tr>
		<td>Online mode</td>
		<td>@Model.onlineGameTime</td>
	</tr>
	<tr>
		<td>Offline mode</td>
		<td>@Model.offlineGameTime</td>
	</tr>
</table>
</div>

