@model TheGame2_Library.Models.UserModel


<div class="container">
	<div class="col-5">

		<h1> Welcome back @Model.fullname !</h1>
		<h5>Good to see you again. </h5>
		@await Component.InvokeAsync("GameStats")

		
</div>
<div class="col-3">
	<h2>Other elements</h2>
</div>
</div>



